@*
- Will list all Yards and the summary for each (total jobs, wagons, length, mass and money totalled) load and unload
- Allows child component? Or mode that allows selecting a yard to add?
 *@

<h3>Job Summary</h3>

@code {
    
}