@* Get all jobs *@
@* Match the LOAD to the STOP *@
@* Match the UNLOAD to the STOP *@
@* Ensure that the UNLOAD happens AFTER the LOAD *@

<h3>JourneyJobTable</h3>

@code {

    class JourneyJobStatus
    {
        
    }
}